/*------------------Computer--------------------*/
.scroll-to-top{ 
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 45px;
}
.cursor{
    cursor: pointer;
}
.b-radius{
    border-radius: 40%;
}
.position-fixed{
    position: fixed;
    z-index: 1000;
}
.fu-con{
    bottom: 5vh;
    right: 5vh;
}
.fu-con-box{
    background-color: #80808062;
    border-radius: 10px;
}
.cursor button{
    border: none;
    outline: none;
    background-color: #00000060;
    border-radius: 50%;
    width: 50px;
    height: 45px;
}
.cursor button:hover{
    background-color: #ffffff;
}
/*------------------Mobile--------------------*/
@media (max-width: 768px) {
    .fu-con {
        top: 90%;
        left: 80%;
    }
}